* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    color: white;
    background: black;
    background-image: url("bar.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background: rgba(0,0,0,.5); 
}

nav>h1 {
    float: left;
    width: 80%;
    text-align: center;
    color: #FFF;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    font-size: 20px;
}

.favoritos {
    height: 50px;
    width: 20%;
    float: right;
    display: table-cell;
    vertical-align: middle;
}
.favoritos-img {
    max-height: 100%;
    max-width: 100%;
    float: left;
}

.contenedor {
    float: left;
    top: 50px;
    position: fixed;
    height: calc(100% - 50px);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.mapa {
    float: left;
    height: 300px;
    width: 100%;
    clear: both;
}

#mapa-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    max-height: 100%;
    width: 300px;
}

.contenedorBtn {
    float: left;
    width: 100%;
    height: calc(100% - 300px);
    margin-top: 10px;
    text-align: center;
}

.btnActualizar {
    display: block;
    margin: auto;
    width: 180px;
    height: 25px;
    font-family: 'Rubik', sans-serif;
    color: snow;
    background: rgba(255,255,255,.35);
    border: 1px solid white;
    border-radius: 100px;
}

input {
    margin-top: 10px;
    width: 250px;
    background: none;
    border: none;
    color:snow;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

#categoria {
    margin-top: 10px;
    width: 200px;
    background: rgba(255,255,255,.35);
    color: snow;
}

label {
    margin-top: 10px;
    display:inline-block;
}

#valor {
    margin-left: 5px;
}

.guardar {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
}

/*
object {
    z-index: 9999;
    position:absolute;
}

input {
    width: 80%;
    height: 80px;
    font-size: 70px;
    margin-top: 17px;
    margin-bottom: 20px;
    margin-left: 5%;
    background: none;
    border: none;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 15px;
    float: left;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

#valor {
    float: left;
    font-size: 50px;
}

.guardar {
    width: 18%;
    float: inherit;
    margin-left: 41%;
    margin-top: 3%;
    transition: .5s all;
}

.guardar:active {
    width: 30%;
    float: inherit;
    margin-left: 35%;
    margin-top: -5%;
}

#categoria {
    height: 60px;
    font-size: 50px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    float: left;
    width: 80px;
    margin-left: 5%;
    height: auto;
    font-size: 55px;
    color: white;
}


*/